<?xml version="1.0" encoding="UTF-8"?>
<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
    <servlet>
        <servlet-name>View</servlet-name>
        <servlet-class>controller.View</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItem</servlet-name>
        <servlet-class>controller.AddItem</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>View</servlet-name>
        <url-pattern>/View</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItem</servlet-name>
        <url-pattern>/AddItem</url-pattern>
    </servlet-mapping>
</web-app>
